In [3]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-0.7.11-py2.py3-none-any.whl (78kB)
    100% |████████████████████████████████| 81kB 545kB/s ta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-0.7.11

In [4]:
import math 
import pymysql 
import sys 
import time 

class mySQL_project: 
    IP = '192.168.196.36' 
    passwd = 'team1' 

def sqliteToMySQL(data,count,idx): 
    conn = pymysql.connect(host=mySQL_project.IP, port=3306, user='team1', passwd=mySQL_project.passwd, db='team1',charset='utf8') 
    # cur.set_character_set('utf8') 
    cur = conn.cursor() 
    sql = 'INSERT INTO final_carPrice_update8891 VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)' 

    try: 

        cur.executemany(sql, data ) 
        # time.sleep(0.3) 
        printStr = 'now is going on '+str(idx)+',which is '+str(math.floor(idx/count*100))+str('% finished') 
        sys.stdout.write('\r' + printStr) 
        if count%50==0: 
            conn.commit() 
        if count == idx: 
            print('\n Insert Okay') 

    except Exception as e: 
        print("sqliteToMySQL : ",e) 
        conn.rollback() 
    conn.commit() 
    conn.close()

In [6]:
#8891 
import sqlite3 
from datetime import datetime 
import math 

conn = sqlite3.connect("/home/ubuntu/SQLiteDB/testCar.db") 
cur = conn.cursor() 
count = cur.execute("SELECT count(*) FROM cars0629").fetchall()[0][0] 
cur.execute("SELECT * FROM cars0629") 

try: 
    for idx, row in enumerate(cur): 
    #source,url,title,brand,model,doors,color,cc,transmission,equip,mileage,years,location,posttime,price,certificate,gasoline,deal,offtime 

        data = [(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[8],row[9],row[10],row[11],row[12],row[13],datetime.fromtimestamp(math.floor(float(row[14]))),row[15],row[16],row[7],0,None)] 

        sqliteToMySQL(data,int(count),idx+1) 
except Exception as e: 
    print("8891 :",e) 
    conn.rollback() 

conn.commit() 
conn.close()

/home/ubuntu/.pyenv/versions/3.6.1/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1265, "Data truncated for column 'title' at row 1")
  result = self._query(query)

now is going on 43135,which is 100% finished
 Insert Okay